<!doctype html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="<?= $vars->{description} ?>">
        <title><?= $vars->{title} ?></title>
        <link rel="icon" href="/img/favicon.ico">
        <link href="TODO" rel="stylesheet">
    </head>
    <body>
        <h1><?= $vars->{category} ?></h1>
        <ul>
?           for (@{$vars->{files}}) {
            <li>
                <a href="<?= $_->{href} ?>">
                    <?= $_->{matter}->exists && $_->{href} =~ m!advent! && $_->{name} =~ m!\d\d*! ? sprintf("%d日目 - %s by %sさん", $_->{name}, $_->{title}, ($_->{matter}->author ? $_->{matter}->author : "名無し")  ) : $_->{title} ?>
                </a>
            </li>
?           }
        </ul>

        <a href="/">HOME</a>

    </body>
</html>
