<!doctype html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title><?= $vars->{fulltitle} ?></title>
        <meta name="title" content="<?= $vars->{fulltitle} ?>">
        <meta name="description" content="<?= $vars->{matter}->description ?>">
        <meta name="author" content="<?= $vars->{matter}->author ?>">

        <meta property="og:type" content="website">
        <meta property="og:url" content="<?= $vars->{url} ?>">
        <meta property="og:title" content="<?= $vars->{fulltitle} ?>">
        <meta property="og:description" content="<?= $vars->{matter}->description ?>">
        <meta property="og:image" content="<?= $vars->{og_image_url} ?>">

        <meta property="twitter:card" content="summary_large_image">
        <meta property="twitter:url" content="<?= $vars->{url} ?>">
        <meta property="twitter:title" content="<?= $vars->{fulltitle} ?>">
        <meta property="twitter:description" content="<?= $vars->{matter}->description ?>">
        <meta property="twitter:image" content="<?= $vars->{og_image_url} ?>">

        <link rel="icon" href="/img/favicon.ico">
        <link rel="canonical" href="<?= $vars->{url} ?>">
        <link href="TODO" rel="stylesheet">
    </head>
    <body>
        <h1><?= $vars->{title} ?></h1>
        tag
?       for my $tag ($vars->{matter}->tags->@*) {
            <a href='<?= "/tag/$tag" ?>'><?= $tag ?></a>
?       }

        <?= $vars->{text} ?>
        <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js?lang=css&amp;skin=sunburst"></script>
    </body>
</html>
