<!doctype html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title><?= $vars->{fulltitle} ?></title>
        <meta name="title" content="<?= $vars->{fulltitle} ?>">
        <meta name="description" content="<?= $vars->{matter}->description ?>">
        <meta name="author" content="<?= $vars->{matter}->author ?>">

        <meta property="og:type" content="website">
        <meta property="og:url" content="<?= $vars->{url} ?>">
        <meta property="og:title" content="<?= $vars->{fulltitle} ?>">
        <meta property="og:description" content="<?= $vars->{matter}->description ?>">
        <meta property="og:image" content="<?= $vars->{og_image_url} ?>">

        <meta property="twitter:card" content="summary_large_image">
        <meta property="twitter:url" content="<?= $vars->{url} ?>">
        <meta property="twitter:title" content="<?= $vars->{fulltitle} ?>">
        <meta property="twitter:description" content="<?= $vars->{matter}->description ?>">
        <meta property="twitter:image" content="<?= $vars->{og_image_url} ?>">

        <link rel="icon" href="/img/favicon.ico">
        <link rel="canonical" href="<?= $vars->{url} ?>">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.min.css">
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>
        <?= $include->('./include/header.html') ?>
        <main class="entry">
        <h1 class="entry-title"><?= $vars->{title} ?></h1>
        <div class="entry-tags">
?       for my $tag ($vars->{matter}->tags->@*) {
            <a class="entry-tag" href='<?= "/tag/$tag" ?>'>#<?= $tag ?></a>
?       }
        </div>
?       if ($vars->{matter}->author) {
            <div class="entry-author"><?= $vars->{matter}->author ?></div>
?       }
?       if ($vars->{matter}->date ) {
            <div class="entry-date"><?= $vars->{matter}->date ?></div>
?       }

        <div class="entry-text">
            <?= $vars->{text} ?>
        </div>
        </main>
        <?= $include->('./include/footer.html') ?>
        <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js?lang=css&amp;skin=sunburst"></script>
    </body>
</html>
