<!doctype html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="<?= $vars->{description} ?>">
        <title><?= $vars->{title} ?></title>
        <link rel="icon" href="/img/favicon.ico">
        <link rel="canonical" href="<?= $vars->{url} ?>">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.min.css">
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>
        <?= $include->('./include/header.html') ?>
        <main>
            <h1 class="tag-title">#<?= $vars->{tag} ?></h1>
?           for (@{$vars->{files}}) {
                <div class="card">
?                   if ($_->{matter}->exists && $_->{matter}->date ) {
                        <div class="card-date"><?= $_->{matter}->date ?></div>
?                   }
                    <a href="<?= $_->{href} ?>">
                        <div class="card-title"><?= $_->{title} ?></div>
                    </a>
?                   if ($_->{matter}->exists && $_->{matter}->author) {
                        <div class="card-author"><?= $_->{matter}->author ?></div>
?                   }
                </div>
?           }
        </main>
        <?= $include->('./include/footer.html') ?>
    </body>
</html>
